body {
  background-color: white;
}

h1 {
  color: cornflowerblue;
}

h2 {
  color: white;
}

h3 {
  color: #AE4A57;
}

h4 {
  color: white;
}

/* Make the image fully responsive */
.carousel-inner img {
  height: 100%;
  width: auto;
  margin: auto; 
}
