* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html {
  background-color: white;
  color: #555;
}

body {
  background-color: white;
}

h1 {
  color: cornflowerblue;
}

h2 {
  color: white;
}

h3 {
  color: #AE4A57;
}

h4 {
  color: white;
}

/* Make the image fully responsive */
.carousel-inner img {
  width: 100%;
  height: 100%;
}

.my-images img {
  width: 250px;
  height: 250px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  margin: auto;
}

/*
  CSS Grid, Flex and Float.
  https://www.youtube.com/watch?v=hYJvxsgnGMA
  https://www.youtube.com/watch?v=hs3piaN4b5I
  grid: https://www.w3schools.com/cssref/tryit.asp?filename=trycss_grid3
*/

.my-youtube-videos {
  width: 390px;
  height: auto;
  padding: 5px;
  padding-bottom: 10px;
  margin: auto;
  float: left;
}

.my-youtube-videos p {
  text-align: center;
  font-size: 22px;
  color: cornflowerblue;
}


/*
Grid Layout. This is IMP.
https://www.w3schools.com/css/tryit.asp?filename=trycss_grid_layout_named
*/

.gridHeader { 
  grid-area: header; 
  text-align: center;
}


.gridMenu { 
  grid-area: menu;
  text-align: justify;
  padding-right: 10px;
}

.gridMain { 
  grid-area: main;
  text-align: justify;
  padding-right: 20px;
}


.gridFooter { 
  grid-area: footer; 
}

/*Based on the above class, the following layout is designed.*/

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header header header header header header header'
    'menu main main main main main main main main main main main'
    'footer footer footer footer footer footer footer footer footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
}


/*
End Of, Grid Layout.
*/

