* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html {
  background-color: white;
  color: #555;
}

body {
  background-color: white;
}

h1 {
  color: cornflowerblue;
}

h2 {
  color: white;
}

h3 {
  color: #AE4A57;
}

h4 {
  color: white;
}

/* Make the image fully responsive */
.carousel-inner img {
  width: 100%;
  height: 100%;
}

.my-images img {
  width: 250px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  margin: auto;
}

.my-youtube-videos {
  width: 390px;
  height: auto;
  padding: 5px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

  
/*
  CSS Grid, Flex and Float.
  https://www.youtube.com/watch?v=hYJvxsgnGMA
  https://www.youtube.com/watch?v=hs3piaN4b5I
  So, grid for layout, and Flex to get into line.
  float: left;
  grid: https://www.w3schools.com/cssref/tryit.asp?filename=trycss_grid3
  
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  flex-wrap: wrap;
*/
  


.my-youtube-videos p {
  text-align: center;
  font-size: 22px;
  color: cornflowerblue;
}