<!--Fill the data that you want to be in Main Session-->
<div class="container px-3 Main">
  
  
	<!-- myContent div-->
	<div class="myContent">
	<h5> HTML Text Formatting</h5>

	
<p>
	Some quick <b>HTML</b> text formating examples, that we can use while working on this website.

	<br>
	A related referance link: http://www.simplehtmlguide.com/text.php
</p>

</div>
<!-- myContent div-->




<pre>
<p>
	Example of <b>bold</b>, with <b>b</b> tag.
	
	I am a <b>bold</b> word. 
</p>
</pre>
		


<pre>
	<p>
		Example of <b>Italic</b>, with <b>i</b> tag.
		
		I am an <i>Italic</i> word. 
	</p>
</pre>


<pre>
	<p>
		Example of <b>Underline</b>, with <b>u</b> tag.
		
		I am a <u>Underline</u> word. 
		 
	</p>
</pre>


<pre>
	<p>
		Example of <b>Strike-out</b>, with <b>strike</b> tag.
		
		I am a <strike>stricked out</strike> word.
	</p>
</pre>


<pre>
	<p>
		Example of <b>Preformatted text</b>, with <b>pre</b> tag.
		
		<pre>
			This is a preformatted text.
			This is a preformatted text.
		</pre>>
	</p>
</pre>



<pre>
	<p>
		Example of <b>Source Code</b>, with <b>code</b> tag.
		
		<code>
			Example of code tag.
			Example of code tag.
		</code>
	</p>
</pre>


<pre>
	<p>
		Example of <b>Typewriter Text</b>, with <b>tt</b> tag.
		
		<tt>
			Example of tt tag.
			Example of tt tag.
		</tt>
	</p>
</pre>



<pre>
	<p>
		Example of <b>Block Quote</b>, with <b>blockquote</b> tag.
		
		<blockquote>
			Example of blockquote tag.
			Example of blockquote tag.
		</blockquote>

	</p>
</pre>


<pre>
	<p>
		Example of <b>small</b>, with <b>small</b> tag.
		
		<small>
			Example of small tag.
			Example of small tag.
		</small>
		
	</p>
</pre>



<pre>
	<p>
		Example of <b>em</b>, with <b>em</b> tag.
		
		<em>
			Example of em tag.
			Example of em tag.
		</em>
		
	</p>
</pre>



<pre>
	<p>
		Example of <b>strong</b>, with <b>strong</b> tag.
		
		<strong>
			Example of strong tag.
			Example of strong tag.
		</strong>
		
	</p>
</pre>


<pre>
	<p>
		Example of <b>Headers</b>, with <b>h1, h2, h3, h4, h5 and h6</b> tag.
	
		<h1>I am Headers h1 </h1>
		<h2>I am Headers h2 </h2>
		<h3>I am Headers h3 </h3>
		<h4>I am Headers h4 </h4>
		<h5>I am Headers h5 </h5>
		<h6>I am Headers h6 </h6>
	</p>
	</pre>

	


<h6> From bootstrap</h6>

You might like to use some html encoder to generate the encoded and later you can use the same in <b>pre</b> tag. Example: https://www.convertstring.com/EncodeDecode/HtmlEncode

<pre>
&lt;p&gt;&lt;b&gt;This is bold text&lt;/b&gt;&lt;/p&gt;
&lt;p&gt;&lt;code&gt;This is computer code&lt;/code&gt;&lt;/p&gt;
&lt;p&gt;&lt;em&gt;This is emphasized text&lt;/em&gt;&lt;/p&gt;
&lt;p&gt;&lt;i&gt;This is italic text&lt;/i&gt;&lt;/p&gt;
&lt;p&gt;&lt;mark&gt;This is highlighted text&lt;/mark&gt;&lt;/p&gt;
&lt;p&gt;&lt;small&gt;This is small text&lt;/small&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;This is strongly emphasized text&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;This is &lt;sub&gt;subscript&lt;/sub&gt; and &lt;sup&gt;superscript&lt;/sup&gt;&lt;/p&gt;
&lt;p&gt;&lt;ins&gt;This text is inserted to the document&lt;/ins&gt;&lt;/p&gt;
&lt;p&gt;&lt;del&gt;This text is deleted from the document&lt;/del&gt;&lt;/p&gt;
</pre>

<b> Output </b>

<pre>
<p><b>This is bold text</b></p>
<p><code>This is computer code</code></p>
<p><em>This is emphasized text</em></p>
<p><i>This is italic text</i></p>
<p><mark>This is highlighted text</mark></p>
<p><small>This is small text</small></p>
<p><strong>This is strongly emphasized text</strong></p>
<p>This is <sub>subscript</sub> and <sup>superscript</sup></p>
<p><ins>This text is inserted to the document</ins></p>
<p><del>This text is deleted from the document</del></p>
</pre>


<pre>
&lt;p class=&quot;text-lowercase&quot;&gt;The quick brown fox jumps over the lazy dog.&lt;/p&gt;
&lt;p class=&quot;text-uppercase&quot;&gt;The quick brown fox jumps over the lazy dog.&lt;/p&gt;
&lt;p class=&quot;text-capitalize&quot;&gt;The quick brown fox jumps over the lazy dog.&lt;/p&gt;
</pre>

<b> Output </b>

<pre>
<p class="text-lowercase">The quick brown fox jumps over the lazy dog.</p>
<p class="text-uppercase">The quick brown fox jumps over the lazy dog.</p>
<p class="text-capitalize">The quick brown fox jumps over the lazy dog.</p>
</pre>





<!-- myCode div-->
<div class="myCode">
<pre>

The following HTML tags are used to format the appearance of the text on your web page. This can jazz up the look of the web page, however, too much variety in the text formatting can also look displeasing.

Header - &lt;h?&gt; &lt;/h?&gt;
There are 6 levels of headings available, from h1 for the largest and most important heading, down to h6 for the smallest heading.

Bold - &lt;b&gt; &lt;/b&gt;
The text in between the tags will be bold, and stand out against text around it, the same as in a word processor.

Italic - &lt;i&gt; &lt;/i&gt;
Also working the same way as a word processor, italics displays the text at a slight angle.

Underline - &lt;u&gt; &lt;/u&gt;
Again, the same as underline in a word processor. Note that html links are already underlined and don&#39;t need the extra tag.

Strike-out - &lt;strike&gt; &lt;/strike&gt;
Puts a line right through the centre of the text, crossing it out. Often used to show that text is old and no longer relevant. Also works by using &lt;s&gt; &lt;/s&gt; instead.

Preformatted Text - &lt;pre&gt; &lt;/pre&gt;
Any text between the pre tags, including spaces, carriage returns and punctuation, will appear in the browser as it would in a text editor (normally browsers ignore multiple spaces)

Source Code - &lt;code&gt; &lt;/code&gt;
Text is displayed in a fixed-width font, commonly used when showing source code. I have used it on this site, along with stylesheets, to show all tags.

Typewriter Text - &lt;tt&gt; &lt;/tt&gt;
The text appears to have been typed by a typewriter, in a fixed-width font. (*)

Block Quote - &lt;blockquote&gt; &lt;/blockquote&gt;
Defines a long quotation, and the quote is displayed with an extra wide margin on the left hand side of the block quote.

Small - &lt;small&gt; &lt;/small&gt;
Instead of having to set a font size, you can use the small tag to render text slightly smaller than the text around it. Useful for displaying the &#39;fine-print&#39;.

Font Colour - &lt;font color=&quot;#??????&quot;&gt; &lt;/font&gt; (*)
Change the colour of a few words or a section of text. The 6 question marks represent the hex color code, see this list of colours and codes for some samples. (*)

Font Size - &lt;font size=&quot;?&quot;&gt; &lt;/font&gt;
Replace the ? with a number from 1 to 7 to change the size of the font. One being the smallest and seven the largest. (*)

Font Size Change - &lt;font size=&quot;+/-?&quot;&gt; &lt;/font&gt;
For an immediate change of font size with respect to the font size preceding it, this tag increase or decreases the size of the font by the number you specify. Eg: &lt;font 

size=&quot;-1&quot;&gt;Some Text&lt;/font&gt; (*)
Change Font Face - &lt;font face=&quot;?&quot;&gt; &lt;/font&gt;
To show text in a particular font, use the font name such &quot;Helvetica&quot; or &quot;Arial&quot; or &quot;Courier&quot;. Be aware that using some fancy font from your computer means that the person viewing that page must also have that font installed on their computer too, otherwise it will look totally different to them. (*)

Centre - &lt;center&gt; &lt;/center&gt;
A useful tag, as it says, it makes everything in between the tags centred (in the middle of the page). (*)

Emphasis - &lt;em&gt; &lt;/em&gt;
Used to emphasize text, which usually appears in italics, but can vary according to your browser.

Strong Emphasis - &lt;strong&gt; &lt;/strong&gt;
Used to emphasize text more, which usually appears in bold, but can vary according to your browser.

</pre>

</div>
<!-- myCode div-->
					
					 
														
</div> 
<!--Fill the data that you want to be in Main Session-->
					